body{ 
    text-align: center;
    background-color:rgb(50, 53, 50);
    color: white;
}

a:link {
    color: rgb(44, 248, 255); 
}
a:visited {
  color: rgb(248, 214, 220);
}

footer{
    position: fixed;
    left: 8%;
    bottom:0;
}