#poster_frame {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#wall_background {
  width: 100%;
  height: 450%;
}


#poster,
#flipped_poster {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 102%;
  max-height: 102%;
  border-color: green;
  z-index: 2;
}

p,
li,
a,
h2,
h3 {
  position: relative;
  font-size: 0.9vw;
  z-index: 3;
  color: black;
  line-height: 140%;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 1.5vw;
}



.col {
  width: 40%;
  z-index: 4;
}

#link_to_home {
  top: 0%;
  right: 0%;
}

div{
  position: absolute;
  background-color: #dddddddc; 
  padding: 1vw;
  z-index: 3;
  max-width: 80%;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-shadow: 2px 3px 20px black, 0 0 60px #743f0a8f inset;
}

#title {
  border-style: none;
  box-shadow: none;
  width: 50%;
  height: 20%;
}