#poster_background {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(85vw / 1.77230769231);
  width: 85vw;
  max-width: 100%;
  max-height: 100%;
}

#poster_frame {
  position: absolute;
  top: 0;
  left: 30%;
  height: calc(84vw / 1.77230769231);
  width: 45vw;
  max-width: 100%;
  max-height: 100%;
}

#poster,
#flipped_poster {
  position: absolute;
  top: 0;
  left: 0;
  /* height: calc(84vw / 1.77230769231);
  width: 45vw; */
  max-width: 102%;
  max-height: 102%;
  border-color: green;
  z-index: 2;
}

/*TODO: Fix text sizing issue */
p,
li,
a,
h2,
h3 {
  position: absolute;
  width: 65%;
  /* Incorporate vh */
  /* font-size: calc((1vw + 1vh)/2.2); */
  font-size: 0.7vw;
  z-index: 3;
  color: black;
  /* min-height3 240px; */
  /* min-width: 300px; */
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 1.5vw;
}

#next_page {
  top: 95%;
  left: 60%;
  color: black;
  font-weight: bold;
}

#prev_page {
  top: 95%;
  left: 10%;
  color: black;
  font-weight: bold;
}

.title {
  font-weight: bold;
  text-decoration: underline;
}
.col {
  width: 30%;
  z-index: 4;
}
