#slifka_title{
    top: 19%;
    left: 5%;
}

#slifka_text{
    top: 22%;
    left: 5%;

}
#slifka_image{
    top:22%;
    left:40%;
}

#hendrie_title{
    top: 48%;
    left: 5%;
}

#hendrie_text{
    top: 52%;
    left: 5%;

}
#hendrie_image{
    top:52%;
    left:40%;
}