#features_text {
  top: 14%;
  left: 20%;
}

#crack_title {
  top: 19%;
  left: 5%;
}

#crack_text {
  top: 22%;
  left: 5%;
}
#crack_image {
  top: 22%;
  left: 40%;
}

#conesB_title {
  top: 57%;
  left: 5%;
}

#conesB_text {
  top: 59%;
  left: 5%;
}
#conesB_image {
  top: 59%;
  left: 40%;
}
